.catalog{
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    margin-left: 5px;
   
}

.catalog h1{
    color: grey;
    text-align: center;
    margin: 0 0 12 px 0;

}

.catalog .filter button{
    margin-left: 5px;
}
